body{
    margin: 0px;
    padding:0px;
}
header{
    height:60px;
    width:100%;
    font-size: 35px;
    background-color: #0098DA;
    color:white;
}
.heading-of-app{
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    float:left;
}
.header-nav-container{
    float:right;
    height: auto;
    line-height: 0px;
    vertical-align: none;
    
}
.header-nav-container ul{
    list-style-type: none;
 }
 .header-nav-container li{
     display:inline;
}

.header-nav-container li a{
     text-decoration: none;
  
     font-size: 18px;
     color:white;
     margin-left:20px;
     margin-right:20px;
}
form{
    width:600px;
    margin:auto;
    margin-top: 30px;
}
input[type=text],textarea,select,input[type=date]{
    width: 100%;
  padding: 10px 15px;
  margin: 4px 0;
  font-size: 15px;
  border-radius: 5px;
  border:1px solid gray;
  margin-top: 5px;
  background-color: white;
}
label{
    font-size: 18px;
}

input[type=button]{
    height: 30px;
    background-color:#0098DA ;
    font-size: 18px;
    border:1px solid #0098DA;
    width:100px;
    border-radius: 4px;
    margin-top: 15px;
    color: white;
}
.buttons{
    text-align: center;
}
.goback{
    margin-left: 10px;
}