body{
    margin: 0px;
    padding:0px;
}
header{
    height:60px;
    width:100%;
    font-size: 35px;
    background-color: #0098DA;
    color:white;
}
.heading-of-app{
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    float:left;
    font-weight: bold;
}
.header-nav-container{
    float:right;
    height: auto;
    line-height: 0px;
    vertical-align: none;
    margin-top: 30px;
}
.header-nav-container ul{
    list-style-type: none;
 }
 .header-nav-container li{
     display:inline;
}

.header-nav-container li a{
     text-decoration: none;
     font-weight: bold;
     font-size: 18px;
     color:white;
     margin-left:20px;
     margin-right:20px;
}
table th{
    font-weight: bold;
}
.buttons{
    background-color: #006C9D;
    overflow: hidden;
    height:60px;
}
.right-buttons{
    float:right;
    margin-right: 20px;
}
.left-buttons{
    float:left;
    
}
.todopage{
  
    overflow:hidden;
    margin-left: 150px;
    margin-right:150px;
    margin-top:50px;
    
}
input[type=button],select{
    height: 30px;
    background-color:#0098DA ;
    font-size: 18px;
    border:1px solid #0098DA;
    width:100px;
    border-radius: 4px;
    margin-top: 15px;
    color: white;
}
#deletebutton,select,#donebutton,#newbutton{
    margin-left: 15px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

td, th {
  border-bottom:  1px solid black;
  text-align: left;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: white;
}
.displayoff{
    display: none;
}
.displayon{
    display: inline-block;
}
.actiondeletebuttonstyle{
    display:block;
    background-color:red;
    border:1px solid red;
    border-radius:3px;
}
.actioneditbuttonstyle{
    display:block;
    background-color:green;
    border:1px solid green;
    border-radius:3px;
}